# macOS
.DS_Store

# Xcode
DerivedData/
build/
*.xcuserstate
xcuserdata/
*.moved-aside
*.xccheckout
*.xcscmblueprint
/Config/Local.xcconfig

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# Local tooling
.idea/
.vscode/
